{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Story 7</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    <div class="switch">Dark mode:              
        <span class="inner-switch">OFF</span>
    </div>

    <div class="container">
        <h1 class="text-center my-5">Halo, apa kabar?</h1>

        <div class="acc">
        <button class="accordion">Aktivitas Fatih sekarang?</button>
        <div class="panel">
            <p class="panel-text">Sibuk ngurus organisasi, kepanitiaan, dan ngasdos aja sih ^_^</p>
        </div>

        <button class="accordion">Pengalaman Fatih?</button>
        <div class="panel">
            <p class="panel-text">Apa ya.. sebagian aja ya</p>
            <ul class="panel-text">
                <li>Presiden, Asyraaf UI</li>
                <li>PiC Startup Academy, COMPFEST 12</li>
                <li>PiC Showcase, UI ArtX 2019</li>
            </ul>
        </div>

        <button class="accordion">Apa prestasinya?</button>
        <div class="panel">
            <p class="panel-text">Selama di Fasilkom sih ya.. cuma <b>Finalis IDEAS NBPC 2019</b></p>
        </div>
    </div>

        <form method="GET" class="my-3 justify-content-center col-4">
            {{ post_form }}
            <input id="submit" type="submit" value="Submit" class="my-3 btn btn-outline-dark">
        </form>
        {% for post in posts %}
            <p class="text-muted my-0">{{ post.post_time }}</p>
            <h5>{{ post.content }}</h5>
        {% endfor %}
    </div>

    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>    
    <script>
        // var acc = document.getElementsByClassName("accordion");
        // var i;
        
        // for (i = 0; i < acc.length; i++) {
        //     acc[i].addEventListener("click", function() {
        //     this.classList.toggle("active");
        //     var panel = this.nextElementSibling;
        //     if (panel.style.maxHeight) {
        //         panel.style.maxHeight = null;
        //     } else {
        //         panel.style.maxHeight = panel.scrollHeight + "px";
        //     } 
        //     });
        // }

        $( ".inner-switch" ).on("click", function() {
            if( $( "body" ).hasClass( "dark" )) {
                $( "body" ).removeClass( "dark" );
                $( ".inner-switch" ).text( "OFF" );
            } else {
                $( "body" ).addClass( "dark" );
                $( ".inner-switch" ).text( "ON" );
            }
        });

        $(".acc").on("click", ".accordion", function() {
            $(this).toggleClass("active").next().slideToggle();
        });
    </script>
</body>
</html>